* {
    text-align: center;
}

h1 {
    font-size: 50px;
    color: rgb(56, 122, 88);
    margin-bottom: 10px;
    text-decoration: underline;
  }

body {
    background-color: #f1f4c7;
}

div.link{
    background-color: #c8a494;
    margin-top: 50px;
}

a {
    margin-left: 20px;
    margin-right: 20px;
}