* {
    text-align: center;
}

h1 {
    font-size: 50px;
    color: rgb(56, 122, 88);
    margin-bottom: 10px;
    text-decoration: underline;
  }

body {
    background-color: #f1f4c7;
}

a {
    margin-left: 20px;
    margin-right: 20px;
}

.link {
    background-color: #333;
    overflow: hidden;
  }
  
  .link a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .link a:hover {
    background-color: #ddd;
    color: black;
  }
  